<%- include('../partial/client-head.ejs') %>

<body>
<div class="container-fluid">
    <%- include('../partial/client-header.ejs') %>
    <div class="header">
        <h3>NEWS</h3>
        <a href="#"> Home</a>
        <span>/</span>
        <a href="#"> News</a>
    </div>
    <div class="margin"></div>
    <div class="wrapper">
        <div class="row">
            <div class="col-sm-3">
                <h5 class="title">RECENT ARTICLES</h5>
                <div class="line"></div>
                <div class="list-recent">
                    <div class="recent-articles row">
                        <div class="col-4 article-img">
                            <a href="#"><img src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-13.jpg?v=1535345431 " alt=""></a>
                        </div>
                        <div class="col-8 detail">
                            <a href="#">Standing living room lamp</a>
                            <div>Aug 27, 2018</div>
                        </div>
                    </div>
                    <div class="recent-articles row">
                        <div class="col-4 article-img">
                            <a href="#"><img src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-12.jpg?v=1535345362 " alt=""></a>
                        </div>
                        <div class="col-8 detail">
                            <a href="#">Modern frame hanging light</a>
                            <div>Aug 27, 2018</div>
                        </div>
                    </div>
                    <div class="recent-articles row">
                        <div class="col-4 article-img">
                            <a href="#"><img src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-11.jpg?v=1535345294 " alt=""></a>
                        </div>
                        <div class="col-8 detail">
                            <a href="#">Edison table lamp</a>
                            <div>Aug 27, 2018</div>
                        </div>
                    </div>
                </div>
                <h5 class="title-2">CATEGORIES</h5>
                <div class="line"></div>
                <ul class="blog-ul">
                    <li><a style="text-decoration: none" href="#">Decorative</a></li>
                    <li><a  style="text-decoration: none" href="#">Edison Light</a></li>
                    <li><a  style="text-decoration: none" href="#">Hanging</a></li>
                    <li><a  style="text-decoration: none" href="#">Lamp</a></li>
                    <li><a  style="text-decoration: none" href="#">Light</a></li>
                    <li><a  style="text-decoration: none" href="#">Party</a></li>
                    <li><a  style="text-decoration: none" href="#">Standing Lamp</a></li>
                    <li><a  style="text-decoration: none" href="#">Table</a></li>
                </ul>
            </div>
            <div class="col-sm-8 right-detail">
                <div class="row">
                    <div class="col">
                        <div class="blog">
                            <a href="#"><img class="blog-img" src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-12.jpg?v=1535345362" alt=""></a>
                            <div class="blog-description">
                                <div class="blog-title">
                                    <h4>MODERN FRAME HANGING LIGHT</h4>
                                </div>
                                <div class="blog-detail">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ...
                                </div>
                                <a href="" class="btn btn-outline-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="blog">
                            <a href="#"><img class="blog-img" src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-8.jpg?v=1535345039" alt=""></a>
                            <div class="blog-description">
                                <div class="blog-title">
                                    <h4>CENTRE HANGING LIGHT</h4>
                                </div>
                                <div class="blog-detail">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ...
                                </div>
                                <a href="" class="btn btn-outline-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row page-2">
                    <div class="col">
                        <div class="blog">
                            <a href="#"><img class="blog-img" src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-7.jpg?v=1535344965" alt=""></a>
                            <div class="blog-description">
                                <div class="blog-title">
                                    <h4>HANGING LIGHTS FOR LIVING ROOM</h4>
                                </div>
                                <div class="blog-detail">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ...
                                </div>
                                <a href="" class="btn btn-outline-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="blog">
                            <a href="#"><img class="blog-img" src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-12.jpg?v=1535345362" alt=""></a>
                            <div class="blog-description">
                                <div class="blog-title">
                                    <h4>MODERN FRAME HANGING LIGHT</h4>
                                </div>
                                <div class="blog-detail">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ...
                                </div>
                                <a href="" class="btn btn-outline-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include('../partial/client-footer.ejs') %>
</body>
<%- include('../partial/client-script') %>
</html>