<%- include('../partial/client-head.ejs') %>


<body>
<div class="container-fluid">
    <%- include('../partial/client-header.ejs') %>


    <div class="row justify-content-center contact">
        <div class="col-lg-6">
            <div class="m-bt-70 text-center">
                <h2 class="mb-3 mt-5">Contact</h2>
            </div>
        </div>
    </div>

    <div class="row justify-content-center contact">
        <div class="mr-lg-4 col-lg-7">
            <img src="https://support.granicus.com/servlet/rtaImage?eid=ka24A000000DpXm&feoid=00N46000009cBBH&refid=0EM460000004pMj" alt="">
        </div>
    </div>


    <%- include('../partial/client-footer.ejs') %>
</div>


</body>


<%- include('../partial/client-script') %>