<%- include('../partial/client-head.ejs') %>


<body>
<div class="container-fluid">
    <%- include('../partial/client-header.ejs') %>


    <div class="row justify-content-center contact">
        <div class="col-lg-6">
            <div class="m-bt-70 text-center">
                <h2 class="mb-3 mt-5">Contact</h2>
            </div>
        </div>
    </div>

    <div class="row justify-content-center contact">
        <div class="col-lg-7">
            <form class=" form-row p-l-20px" name="form-contact" method="post">
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Your Name (required)</label>
                        <input type="text" id="name" name="name" class="form-control" placeholder="Enter Your Name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Your Email (required)</label>
                        <input type="text" name="email" id="email" class="form-control"
                               placeholder="Enter Your Email Address">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Your Subject</label>
                        <input type="text" name="subject" id="subject" class="form-control"
                               placeholder="Enter Your Subject">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group">
                        <label>Your Message (required)</label>
                        <textarea id="messeage" name="messeage" cols="30" rows="8" class="form-control"
                                  placeholder="Your Message"></textarea>
                    </div>
                </div>
                <div class="col-lg-12 mb-5">
                    <div class="text-center mt-4">
                        <button type="submit" class="btn btn-danger ">Send Message</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <%- include('../partial/client-footer.ejs') %>
</div>


</body>


<%- include('../partial/client-script') %>