/*Contact Page Bach*/


.img-100px{
    width: 100px;
}

.poniter-help{
    cursor: pointer;
}

.error{
    color: red !important;
}

/*Tạo bảng scroll mini table cho admin START*/
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
/*Tạo bảng scroll mini table cho admin END*/

/* Thanh Search của Auro START*/

#search {
    height: 50px;
    padding: 0 70px 0 20px;
}

#search {
    border: none;
    background: #f0f0f0;
}

.search-bar__form button {
    font-size: 18px;
    padding: 0 20px;
    line-height: 55px;
    height: 50px;
    background: none;
    border: 2px solid #ff5050;
    position: absolute;
    top: 0;
    right: 0;
    background: #ff5050;
    color: #ffffff;
}

.search-bar__form {
    float: left;
    border: 1px solid #e4e4e4;
    margin: 0;
    position: relative;
}

/* Thanh Search của Auro END*/