
/*hover button*/
 button:hover{
    cursor: pointer;
}


/*Contact Page Bach*/

input:hover, textarea:hover{
    border: #ff5050 .5px solid;
}

.img-100px{
    width: 100px;
}

.poniter-help{
    cursor: pointer;

}
.poniter-help:hover{
    border: 4px double #ff5050;

}
.error{
    color: red !important;
}

/*Tạo bảng scroll mini table cho admin START*/
.my-custom-scrollbar {
    position: relative;
    height: 200px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
/*Tạo bảng scroll mini table cho admin END*/

/* Thanh Search của Auro START*/

#search {
    height: 50px;
    width: 16em;
    padding: 0 70px 0 20px;
}

#search {
    border: none;
    background: #f0f0f0;
}

.search-bar__form button {
    font-size: 18px;
    padding: 0 20px;
    line-height: 55px;
    height: 50px;
    background: none;
    border: 2px solid #ff5050;
    position: absolute;
    top: 0;
    right: 0;
    background: #ff5050;
    color: #ffffff;
}

.search-bar__form {
    float: left;
    border: 1px solid #e4e4e4;
    margin: 0;
    position: relative;
}


/* 3 chấm  START*/
.ba_cham{
    width: 100%;
    text-overflow: ellipsis; /* hiển thị dấu 3 chấm cuối dòng */
    overflow: hidden;
    display: -moz-box; /* hỗ trợ hiển thị cho Firefox */
    display: -webkit-box; /* vì hiển thị dấu 3 chấm không được hỗ trợ trong Chrome và Safari nên cần thuộc tính này */
    -webkit-box-orient: vertical; /* hiển thị theo chiều dọc, đoạn này cần có nếu không sẽ không hiển thị đc đấu 3 chấm */
    -webkit-line-clamp: 2; /* số dòng muốn hiển thị là 3 */
}
/* 3 chấm  END*/

/* phần làm cho Cart START */
.wrapper {
    *zoom: 1;
    max-width: 100%;
    margin: 0 auto;
    clear: both;
}

.grid__item {
    float: left;
    min-height: 1px;
    vertical-align: top;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.cart__row{
    position: relative;
}

.cart__header-labels {
    background: #000;
    padding: 15px 0 0;
    font-size: 18px;
    text-align: center;
    float: left;
    width: 100%;
    color: #ffffff;
}

/* phần làm cho Cart END */

#header-nav{
    background-color: #ff5050;
}
.nav-link {
    color: white;
    font-size: 16px;
}
.drop:hover .sub-menu{
    display: block;
    color: white;
}
.nav-link:hover{
    color: white;
}

/*Css cua Cart.hml*/
.checkout-btr-cart .btn{
    border: 1px solid #4e555b;
    background-color: #FFF;
    color: #000;
    padding: 13px 20px;
    font-size: 15px;
}

.checkout-btr-cart .btn:hover{
    background-color: #ff5050;
    color: #FFFFFF;
    transition: .5s ease;
}