

.article-img img{
    padding: 0;
    width: 100%;
}
.recent-articles ul {
    list-style-type: none;
    padding: 0;
}
.recent-articles{
    margin-bottom: 8px;
}
.title{
    padding: 12px 15px;
    background-color: #ff5050;
    color: white;
    margin-bottom: 2px;
}
.line{
    border-top: #ff5050 solid 2px;
}
.list-recent{
    margin-top: 15px;
}
.detail a{
    color: black;
    text-decoration: none;
}
.detail a:hover{
    color: #ff5050;
}
.title-2{
    padding: 12px 15px;
    background-color: #ff5050;
    color: white;
    margin-bottom: 2px;
    margin-top: 50px;
}

.right-detail{
    margin-left: 25px;
}
.blog-description{
    padding: 30px;
    border:#e4e4e4 solid 1px ;
}

.blog{
    overflow: hidden;

}

.blog a{
    overflow: hidden;
}
.blog-img{
    width: 100%;
    transition: transform .5s ease;
    overflow: hidden;
}

.blog-title h4:hover{
    color: #ff5050;
    cursor: pointer;
    transition: .5s ease;
}

.blog:hover img{
    transform: scale(0.9);
    cursor: pointer;
}
.blog-detail{
    margin-bottom: 15px;
    font-size: 15px;
}
.page-2{
    margin-top: 15px;
}
.btn-outline-danger:hover{
    transition: all ease 0.8s;
}
@media screen  and (max-width:1199px){
 .blog{
     margin-top: 15px;
 }
}
