<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HANGING LIGHTS FOR LIVING ROOM</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/Blog.css">
    <link rel="stylesheet" href="../../public/css/content-page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="../../public/css/header-and-footer.css">
</head>
<body>
<!--Hearder start -->

<div class="container-fluid ">
    <div class="row mb-2 top-header">
        <div class="col-lg">
            <ul class="header-client">
                <li><p class="fas fa-phone-alt">0964 866 701</p></li>
                <li><a class="fas fa-envelope" href="#"> hoangkien0601@gmail.com</a></li>
            </ul>
        </div>
        <div class="col-lg icon-buy">
            <a class="fas fa-shopping-cart" href="#"> Cart</a>
        </div>
    </div>
    <!--Logo and shipping-->
</div>

<header class="header">
    <a href="#" class="header__logo text-decoration-none">Led4life</a>

    <i class='fa fa-bars header__toggle' id="header-toggle"></i>

    <nav class="nav--menu" id="nav-menu">
        <div class="nav__content  bd-grid">
            <a href="" class="nav__perfil ">
                <div class="nav__img">
                    <img src="../../public/img/home/logo.png"/></div>
                <div>
                    <span class="nav__name ">led4life</span>
                </div>
            </a>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">Home</a></li>

                    <li class="nav__item dropdown">
                        <a href="#" class="nav__link dropdown__link">Category<i
                                class='fa fa-chevron-down dropdown__icon'></i></a>
                        <ul class="dropdown__menu">
                            <li><a href="../view/products.html">Bulbs</a></li>
                            <li><a href="../view/products.html">Spot Lights</a></li>
                            <li><a href="../view/products.html">Decoration Lights</a></li>
                            <li><a href="../view/products.html">Smart Lights</a></li>

                        </ul>
                    </li>

                    <li class="nav__item"><a href="#" class="nav__link">Skills</a></li>

                    <li class="nav__item dropdown">
                        <a href="#" class="nav__link dropdown__link">Trademark
                            <i class='fa fa-chevron-down dropdown__icon'></i>
                        </a>
                        <ul class="dropdown__menu">
                            <li><a href="../view/products.html">Coca</a></li>
                            <li><a href="../view/products.html">Pesi</a></li>
                            <li><a href="../view/products.html">DC</a></li>
                            <li><a href="../view/products.html">Mavel</a></li>
                        </ul>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Hearder end-->

<!--navbar-menu-image-->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">BLOG</h1>
    </div>
</section>

<!--MAIN START-->
<div class="post-container">
    <section class="post-main">
        <div class="tittle-detail text-center">
            <h1>HANGING LIGHTS FOR LIVING ROOM</h1>
        </div>
        <div style="text-align: justify">
            <figure>
                <img src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-13.jpg?v=1535345431"
                     alt="">
            </figure>
        </div>
        <div class="content">
            <div style="text-align: justify">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.
            </div>

        </div>
    </section>
</div>
<!--MAIN END-->

<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="about.html">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">sale</a></li>
                    <li><a href="#">new collection</a></li>
                    <li><a href="#">led lamps</a></li>
                    <li><a href="#">latest lapms</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--EndFooter-->




<script src="https://kit.fontawesome.com/c704dbde0e.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<!--Js Menu Header-->
<script src="../../public/js/home-js.js"></script>

</body>
</html>