<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../Nguyen/css/home-Page.css">
<!--    <link rel="stylesheet" href="../../public/css/nguyencss.css">-->
    <link rel="stylesheet" href="../../public/css/Detail.css">
    <link rel="stylesheet" href="../../public/css/Blog.css">
</head>
<body>
<!--<div class="container-fluid">-->
<!--    <div class="header">-->
<!--        <h3>NEWS</h3>-->
<!--        <a href="#"> Home</a>-->
<!--        <span>/</span>-->
<!--        <a href="#"> News</a>-->
<!--    </div>-->
<!--    <div class="margin"></div>-->
<!--Hearder start (Header chưa repronsive cứ dùng tạm đang sửa nốt)-->
<header class="site-header">
    <div class="container-fluid">
        <div class="row ">
            <div class="col-lg-2 ">
                <div class="header-logo">
                    <a href="">
                        <img src="../../Nguyen/img/logo.png" height="2000" width="2000"/>
                        <h2>led4life</h2>
                    </a>
                </div>
            </div>

            <div class="col-lg-8 m-auto">
                <ul class="header-menu">
                    <li class="header-menu-li"><a href="../../Nguyen/Home-Page.html">Home</a></li>
                    <li class="header-menu-li"><a href="../products.html">Shop</a></li>
                    <li class="header-menu-li dropdown-abourt">
                        <a href="#">Category</a>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <ul class="dropdown-list">
                            <li><a href="../../view/products.html">Bulbs</a></li>
                            <li><a href="../../view/products.html">Spot Lights</a></li>
                            <li><a href="../../view/products.html">Decoration Lights</a></li>
                            <li><a href="../../view/products.html">Smart Lights</a></li>
                        </ul>
                    </li>
                    <li class="header-menu-li dropdown-abourt">
                        <a href="#">Trademark</a>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <ul class="dropdown-list">
                            <li><a href="../../view/products.html">Coca</a></li>
                            <li><a href="../../view/products.html">Pesi</a></li>
                            <li><a href="../../view/products.html">DC</a></li>
                            <li><a href="../../view/products.html">Mavel</a></li>
                        </ul>
                    </li>
                    <li class="header-menu-li"><a href="../../view/contact-us.html">Contact</a></li>
                    <li class="header-menu-li"><a href="../../view/blog/Blog.html">Blog</a></li>
                    <li class="header-menu-li"><a href="">About</a></li>
                </ul>
            </div>
            <div class="col-lg-2 m-auto">
                <ul class="header-icon">
                    <li><i class="fa fa-search" aria-hidden="true"></i></li>
                    <li><i class="fa fa-shopping-bag" aria-hidden="true"></i></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!--Hearder end-->
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">BLOG</h1>
        </div>
    </section>
    <!--navbar-menu-image-->
    <!--MAIN START-->
    <div class="container-fluid">
        <!--    <div class="header">-->
        <!--        <h4>BED LAMP LARGE</h4>-->
        <!--        <div class="star">-->
        <!--            <a href="#"> Home </a>-->
        <!--            <span>/</span>-->
        <!--            <a href="#"> Best Off </a>-->
        <!--            <span>/</span>-->
        <!--            <a href="#"> Bed Lamp Large </a>-->
        <!--        </div>-->
        <!--    </div>-->
        <div class="row">
            <div class="col-sm-12 col-xl-3">
                <div>
                    <h5 class="title">RECENT ARTICLES</h5>
                    <div class="line"></div>
                    <div class="list-recent">
                        <div class="recent-articles row">
                            <div class="col-4 article-img">
                                <a href="#"><img src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-13.jpg?v=1535345431 " alt=""></a>
                            </div>
                            <div class="col-8 detail">
                                <a href="#">Standing living room lamp</a>
                                <div>Aug 27, 2018</div>
                            </div>
                        </div>
                        <div class="recent-articles row">
                            <div class="col-4 article-img">
                                <a href="#"><img src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-12.jpg?v=1535345362 " alt=""></a>
                            </div>
                            <div class="col-8 detail">
                                <a href="#">Modern frame hanging light</a>
                                <div>Aug 27, 2018</div>
                            </div>
                        </div>
                        <div class="recent-articles row">
                            <div class="col-4 article-img">
                                <a href="#"><img src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-11.jpg?v=1535345294 " alt=""></a>
                            </div>
                            <div class="col-8 detail">
                                <a href="#">Edison table lamp</a>
                                <div>Aug 27, 2018</div>
                            </div>
                        </div>
                    </div>
                </div>
                <h5 class="title-2">CATEGORIES</h5>
                <div class="line"></div>
                <ul class="list-product">
                    <li><span>Bulbs</span></li>
                    <li><span>Spot Lights</span></li>
                    <li><span>Decoration Lights</span></li>
                    <li><span>Smart Lights</span></li>
                </ul>
            </div>
            <div class="col-sm-12 col-xl-8 right-detail">
                <div class="row">
                    <div class="col-sm-12 col-xl">
                        <div class="blog">
                            <a href="#"><img class="blog-img" src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-12.jpg?v=1535345362" alt=""></a>
                            <div class="blog-description">
                                <div class="blog-title">
                                    <h4>MODERN FRAME HANGING LIGHT</h4>
                                </div>
                                <div class="blog-detail">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ...
                                </div>
                                <a href="blog-2.html" class="btn btn-outline-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl">
                        <div class="blog">
                            <a href="#"><img class="blog-img" src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-8.jpg?v=1535345039" alt=""></a>
                            <div class="blog-description">
                                <div class="blog-title">
                                    <h4>CENTRE HANGING LIGHT</h4>
                                </div>
                                <div class="blog-detail">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ...
                                </div>
                                <a href="blog-3.html" class="btn btn-outline-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row page-2">
                    <div class="col-sm-12 col-xl">
                        <div class="blog">
                            <a href="#"><img class="blog-img" src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-7.jpg?v=1535344965" alt=""></a>
                            <div class="blog-description">
                                <div class="blog-title">
                                    <h4>HANGING LIGHTS FOR LIVING ROOM</h4>
                                </div>
                                <div class="blog-detail">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ...
                                </div>
                                <a href="blog-4.html" class="btn btn-outline-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl">
                        <div class="blog">
                            <a href="#"><img class="blog-img" src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-13.jpg?v=1535345431" alt=""></a>
                            <div class="blog-description">
                                <div class="blog-title">
                                    <h4>STANDING LIVING ROOM LAMP</h4>
                                </div>
                                <div class="blog-detail">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ...
                                </div>
                                <a href="blog-1.html" class="btn btn-outline-danger">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--MAIN END-->

    <!--FOOTER START-->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4>company</h4>
                    <ul>
                        <li><a href="#">about us</a></li>
                        <li><a href="#">our services</a></li>
                        <li><a href="#">privacy policy</a></li>
                        <li><a href="#">affiliate program</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>get help</h4>
                    <ul>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">shipping</a></li>
                        <li><a href="#">returns</a></li>
                        <li><a href="#">order status</a></li>
                        <li><a href="#">payment options</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>online shop</h4>
                    <ul>
                        <li><a href="#">watch</a></li>
                        <li><a href="#">bag</a></li>
                        <li><a href="#">shoes</a></li>
                        <li><a href="#">dress</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>follow us</h4>
                    <div class="social-links">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--FOOTER END-->
<!--</div>-->

</body>
</html>