<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/css/Blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <h4>CENTRE HANGING LIGHT</h4>
        <div>
            <a href="#">Home</a>
            <span>/</span>
            <a href="#">News</a>
            <span>/</span>
            <a href="#">Centre hanging light</a>
        </div>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="content">
                <div class="thumbnail ">
                    <img src="//cdn.shopify.com/s/files/1/0014/7996/6818/articles/blog-8.jpg?v=1535345039" alt="">
                </div>
                <div class="detail">
                    <h4 class="tittle">CENTRE HANGING LIGHT</h4>
                    <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.</div>
                    <div class="share">
                        Share this on:
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-google"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>