<div class="row mb-2 top-header">
    <div class="col-lg">
        <ul class="header-client">
            <li><p class="fas fa-phone-alt">0964 866 701</p></li>
            <li><a class="fas fa-envelope" href="#"> hoangkien0601@gmail.com</a></li>
        </ul>
    </div>
    <div class="col-lg icon-buy">
        <a class="fas fa-shopping-cart" href="#"> Cart</a>
    </div>
</div>
<!--Logo and shipping-->
<div class="row mb-2">
    <div class="col-lg logo">
        <a href="#"><img src="//cdn.shopify.com/s/files/1/0014/7996/6818/t/2/assets/logo.png?v=16665689591909423692"
                         alt=""></a>
        <div class="col delivery">
            <p><i class="fas fa-truck"></i> FREE DELIVERY ORDER OVER $100</p>
        </div>
    </div>
</div>


<!--navbar-menu-image-->
<div class="row sticky-top">
    <div class="col-lg">
        <div class="topnav" id="myTopnav">
            <a href="/" class="active">Home</a>
            <a href="/client/products">Products</a>
            <a href="#Category">Category</a>
            <a href="#Map">Map</a>
            <a href="/client/contact">Contact</a>
            <a href="/client/blog">Blog</a>
            <a href="#about">About</a>
            <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
</div>



