<div class="row">
    <div class="col-lg-2">
        <div class="left-menu-product">
            <h4>Category</h4>
            <ul id="myCategory">
                <a href="/client/products/category/bulbs">
                    <li>Bulbs</li>
                </a>
                <a href="/client/products/category/spot-lights">
                    <li>Spot Lights</li>
                </a>
                <a href="/client/products/category/decoration-lights">
                    <li>Decoration Lights</li>
                </a>
                <a href="/client/products/category/smart-lights">
                    <li>Smart Lights</li>
                </a>
            </ul>
            <a href="javascript:void(0);" onclick="myCategory()"><i class="fa fa-plus icon-pr"
                                                                           aria-hidden="true"></i></a>
        </div>
        <div class="left-menu-product">
            <h4>Shop By Size</h4>
            <div class="product-size">
                <ul>
                    <li>S</li>
                    <li>M</li>
                    <li>L</li>
                </ul>
            </div>
        </div>
        <div class="left-menu-product">
            <h4>Trademark</h4>
            <ul id="myTrademark">
                <a href="/client/products/trademark/coca">
                    <li>Coca</li>
                </a>
                <a href="/client/products/trademark/pepsi">
                    <li>Pepsi</li>
                </a>
                <a href="/client/products/trademark/dc">
                    <li>DC</li>
                </a>
                <a href="/client/products/trademark/mavel">
                    <li>Mavel</li>
                </a>
            </ul>
            <a href="javascript:void(0);" onclick="myTrademark()"><i class="fa fa-plus icon-pr"
                                                                    aria-hidden="true"></i></a>
        </div>
    </div>