<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ABOUT US</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../public/css/about-us.css">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/header-and-footer.css">

</head>
<body>
<!--Header Start-->
<div class="container-fluid ">
    <div class="row mb-2 top-header">
        <div class="col-lg">
            <ul class="header-client">
                <li><p class="fas fa-phone-alt">0964 866 701</p></li>
                <li><a class="fas fa-envelope" href="">nguyenhsth2011012@fpt.edu.vn</a></li>
            </ul>
        </div>
        <div class="col-lg icon-buy">
            <a class="fas fa-shopping-cart" href="products.html"> Cart</a>
        </div>
    </div>
    <!--Logo and shipping-->
</div>

<header class="header">
    <a href="Home-Page.html" class="header__logo text-decoration-none">Led4life</a>

    <i class='fa fa-bars header__toggle' id="header-toggle"></i>

    <nav class="nav--menu" id="nav-menu">
        <div class="nav__content  bd-grid">
            <a href="Home-Page.html" class="nav__perfil ">
                <div class="nav__img">
                    <img src="../public/img/home/logo.png" height="2000" width="2000"/>
                </div>
                <div>
                    <span class="nav__name ">led4life</span>
                </div>
            </a>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="Home-Page.html" class="nav__link">Home</a></li>

                    <li class="nav__item dropdown">
                        <a href="#" class="nav__link dropdown__link">Category<i
                                class='fa fa-chevron-down dropdown__icon'></i></a>
                        <ul class="dropdown__menu">
                            <li><a href="products.html">Bulbs</a></li>
                            <li><a href="products.html">Spot Lights</a></li>
                            <li><a href="products.html">Decoration Lights</a></li>
                            <li><a href="products.html">Smart Lights</a></li>

                        </ul>
                    </li>

                    <li class="nav__item"><a href="#" class="nav__link">Skills</a></li>

                    <li class="nav__item dropdown">
                        <a href="#" class="nav__link dropdown__link">Trademark
                            <i class='fa fa-chevron-down dropdown__icon'></i>
                        </a>
                        <ul class="dropdown__menu">
                            <li><a href="products.html">Coca</a></li>
                            <li><a href="products.html">Pesi</a></li>
                            <li><a href="products.html">DC</a></li>
                            <li><a href="products.html">Mavel</a></li>
                        </ul>
                    </li>
                    <li class="nav__item"><a href="contact-us.html" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="blog/Blog.html" class="nav__link">Blog</a></li>
                    <li class="nav__item"><a href="about.html" class="nav__link">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Hearder end-->

<!--navbar-menu-image-->
<section class="mt-5 mb-5 text-center">
    <div class="container">
        <h1 class="jumbotron-heading">ABOUT US</h1>
    </div>
</section>

<!--MAIN START-->
<div class="container-fluid img-thumbnail border-0">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-thumbnail border-0" src="https://cdn.shopify.com/s/files/1/0014/7996/6818/files/img-1_68a32bfc-3f6c-4ce8-ac9b-a3162d2ebf75.jpg?v=1535113483" alt="">
        </div>
        <div class="col-lg-8 ">
            <div>
                <h1 class="mb-3 mt-5">WELCOME TO LIGHTS</h1>
            </div>
            <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi. Cras vel lorem. Etiam pellentesque aliquet tellus. Phasellus pharetra nulla ac diam.
            </div>

        </div>
    </div>
</div>
<div class="mt-3 p-13" style="background:#f7f7f7;">
    <div class="row" >
        <div class="col-sm-12 home-title">
            <h2>WHAT WE OFFER AT LIGHTS</h2>
            <p>Here you can check out our best category with fair price on led4life.</p>
        </div>
        <div class="col-lg-4 p-3">
            <div class="newarrivals-item">
                <div class="newarrivals-img">
                    <div class="newarrivals-icon">
                        <a href="" class="fa fa-heart  btn-secondary"></a>
                        <a href="../view/detail/detail.html" class="fa fa-eye  btn-secondary"></a>
                        <a href="../view/products.html" class="fa fa-shopping-bag btn-secondary"></a>
                    </div>
                    <img src="https://res.cloudinary.com/nguyenhs/image/upload/v1620150745/img-Project1/Home-page/newarrivals/newarrivels-5_ksnfv8.jpg"
                         alt="">
                </div>
                <div class="newarrivals-content">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <a href=""><h4>Bulbs</h4></a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 p-3">
            <div class="newarrivals-item">
                <div class="newarrivals-img">
                    <div class="newarrivals-icon">
                        <a href="" class="fa fa-heart  btn-secondary"></a>
                        <a href="../view/detail/detail.html" class="fa fa-eye  btn-secondary"></a>
                        <a href="../view/products.html" class="fa fa-shopping-bag btn-secondary"></a>
                    </div>
                    <img src="https://res.cloudinary.com/nguyenhs/image/upload/v1620150745/img-Project1/Home-page/newarrivals/newarrivels-5_ksnfv8.jpg"
                         alt="">
                </div>
                <div class="newarrivals-content">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <a href=""><h4>Smart Lights</h4></a>
                </div>
            </div>

        </div>
        <div class="col-lg-4 p-3">
            <div class="newarrivals-item">
                <div class="newarrivals-img">
                    <div class="newarrivals-icon">
                        <a href="" class="fa fa-heart  btn-secondary"></a>
                        <a href="../view/detail/detail.html" class="fa fa-eye  btn-secondary"></a>
                        <a href="../view/products.html" class="fa fa-shopping-bag btn-secondary"></a>
                    </div>
                    <img src="https://res.cloudinary.com/nguyenhs/image/upload/v1620150745/img-Project1/Home-page/newarrivals/newarrivels-5_ksnfv8.jpg"
                         alt="">
                </div>
                <div class="newarrivals-content">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <a href=""><h4>Spot Lights</h4></a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid mt-3 p-13">
    <div class="row" >
        <div class="col-lg-12 home-title">
            <h2>Some famous brands for LED</h2>
            <p>We can see trademark for your reference</p>
        </div>

                <div class="col-lg-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="thumbnail img-thumbnail rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUKutZutK1HvqpIoZ7hpqa5e68bx3DQMlr3myzvkmTjqCcn0xGl_0V1wLuM1zTUrOSmDs&usqp=CAU" alt="">
                        </div>
                        <div class="blog-content">
                            <h4 class="text-center"><a href="">CLARO</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Proin nibh augue, suscipit a, scelerisque sed, lacinia in,
                                mi. Cras vel lorem. Etiam pellentesque aliquet tel...</p>
                            <h5 class="text-center"><a href="" class="btn">Read more</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog">
                        <div class="blog-img">
                            <img class="thumbnail img-thumbnail rounded-circle" src="https://www.acuitybrands.com/-/media/abl/acuitybrands/images/social-logos/acuitybrands1200x630.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h4 class="text-center"><a href="">ACUITY BRANDS</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Proin nibh augue, suscipit a, scelerisque sed, lacinia in,
                                mi. Cras vel lorem. Etiam pellentesque aliquet tel...</p>
                            <h5 class="text-center"><a href="" class="btn">Read more</a></h5>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog">
                        <div class=" blog-img">
                            <img class="thumbnail img-thumbnail rounded-circle" src="https://creelighting-canada.com/wp-content/themes/cree/images/home-brand-smartcast.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h4 class="text-center"><a href="">CREE</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                Proin nibh augue, suscipit a, scelerisque sed, lacinia in,
                                mi. Cras vel lorem. Etiam pellentesque aliquet tel...</p>
                            <h5 class="text-center"><a href="" class="btn">Read more</a></h5>
                        </div>
                    </div>
                </div>
            </div>
</div>

<div class="grid-uniform container-fluid" style="background:#f7f7f7;">
    <div class="main-heading">
        OUR STAFF
    </div>
    <div class="row" >
        <div class="col-sm-12 col-xl">
            <div>
                <img class="thumbnail img-thumbnail" src="https://img1.looper.com/img/gallery/the-entire-doom-story-explained/intro-1588010410.jpg" alt="">
                <div class="name">Nguyễn Tùng Bách</div>
                <div class="description">Leader</div>
            </div>
        </div>
        <div class="col-sm-12 col-xl">
            <div>
                <img class="thumbnail img-thumbnail" src="https://i.etsystatic.com/12164720/r/il/9b45c2/1844022083/il_570xN.1844022083_lj08.jpg" alt="">
                <div class="name">Hoàng Sĩ Nguyên</div>
                <div class="description">Members</div>
            </div>
        </div>
        <div class="col-sm-12 col-xl">
            <div>
                <img class="thumbnail img-thumbnail" src="https://i.pinimg.com/originals/86/b5/c2/86b5c27cd3ff78d66dbd67cc7d6cf7ae.jpg" alt="">
                <div class="name">Hoàng Trung Kiên</div>
                <div class="description">Members</div>
            </div>
        </div>
        <div class="col-sm-12 col-xl">
            <div>
                <img class="thumbnail img-thumbnail" src="//cdn.shopify.com/s/files/1/0014/7996/6818/files/img-14.jpg?v=1535369750" alt="">
                <div class="name">Nguyễn Tuấn Dũng</div>
                <div class="description">Members</div>
            </div>
        </div>
    </div>
</div>

<!--MAIN END-->



<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="about.html">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">sale</a></li>
                    <li><a href="#">new collection</a></li>
                    <li><a href="#">led lamps</a></li>
                    <li><a href="#">latest lapms</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--EndFooter-->


<script src="https://kit.fontawesome.com/c704dbde0e.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
<!--Js Menu Header-->
<script src="../public/js/home-js.js"></script>

</body>
</html>