<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/header-and-footer.css">
    <link rel="stylesheet" href="../public/css/products.css">



</head>


<body>
<!--Header Start-->
<div class="container-fluid ">
    <div class="row  top-header">
        <div class="col-lg">
            <ul class="header-client">
                <li><p class="fas fa-phone-alt">0964 866 701</p></li>
                <li><a class="fas fa-envelope" href="">nguyenhsth2011012@fpt.edu.vn</a></li>
            </ul>
        </div>
        <div class="col-lg icon-buy">
            <a class="fas fa-shopping-cart" href="products.html">Cart</a>
        </div>
    </div>
    <!--Logo and shipping-->
</div>

<header class="header">
    <a href="Home-Page.html" class="header__logo text-decoration-none">Led4life</a>

    <i class='fa fa-bars header__toggle' id="header-toggle"></i>

    <nav class="nav--menu" id="nav-menu">
        <div class="nav__content  bd-grid">
            <a href="Home-Page.html" class="nav__perfil ">
                <div class="nav__img">
                    <img src="../public/img/home/logo.png">
                </div>
                <div>
                    <span class="nav__name ">led4life</span>
                </div>
            </a>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="Home-Page.html" class="nav__link">Home</a></li>

                    <li class="nav__item dropdown">
                        <a href="category.html" class="nav__link dropdown__link">Category<i
                                class='fa fa-chevron-down dropdown__icon'></i></a>
                        <ul class="dropdown__menu">
                            <li><a href="category.html">Bulbs</a></li>
                            <li><a href="category.html">Spot Lights</a></li>
                            <li><a href="category.html">Decoration Lights</a></li>
                            <li><a href="category.html">Smart Lights</a></li>

                        </ul>
                    </li>

                    <li class="nav__item"><a href="products.html" class="nav__link">Shop</a></li>

                    <li class="nav__item dropdown">
                        <a href="trademark.html" class="nav__link dropdown__link">Trademark
                            <i class='fa fa-chevron-down dropdown__icon'></i>
                        </a>
                        <ul class="dropdown__menu">
                            <li><a href="trademark.html">Philips</a></li>
                            <li><a href="trademark.html">Panasonic</a></li>
                            <li><a href="trademark.html">Cree</a></li>
                            <li><a href="trademark.html">Osram</a></li>
                            <li><a href="trademark.html">Bridgelux</a></li>
                            <li><a href="trademark.html">General Electric</a></li>
                        </ul>
                    </li>
                    <li class="nav__item"><a href="contact-us.html" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="blog/Blog.html" class="nav__link">Blog</a></li>
                    <li class="nav__item"><a href="about.html" class="nav__link">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!--Hearder end-->



<!--Name Page-->
<section class="jumbotron text-center bgr-color-prd mb-0">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="jumbotron-heading ">Map&Contact</h1>
            </div>
        </div>
        <div class="row justify-content-center product-top-content">
            <a href="Home-Page.html" class="mr-1">Home</a>
            &#62;
            <p class="ml-1">Map&Contact</p>
        </div>
    </div>
</section>
<!--Name Page end-->


<div class="row justify-content-center contact">
    <div class="col-lg-12">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.2601370494635!2d-0.13013768402810375!3d51.508443318447696!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNTHCsDMwJzMwLjQiTiAwwrAwNyc0MC42Ilc!5e0!3m2!1sen!2s!4v1611681704263!5m2!1sen!2s" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>

<!--navbar-menu-image-->
<section class="jumbotron text-center bg-white mb-1 mt-5 p-0">
    <div class="container">
        <h1 class="jumbotron-heading">CONTACT</h1>
    </div>
</section>

<!--MAIN START-->
<div class="row justify-content-center contact mb-5">
    <div class="col-lg-6">
        <div class="m-bt-70 text-center p-2" >
           <p class="m-0" style="color: #008622">Thanks for contacting us. We'll get back to you as soon as possible.</p>
        </div>
    </div>
</div>
<!--MAIN END-->

<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="about.html">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">sale</a></li>
                    <li><a href="#">new collection</a></li>
                    <li><a href="#">led lamps</a></li>
                    <li><a href="#">latest lapms</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--EndFooter-->

<script src="../public/js/jquery-3.6.0.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="../public/js/jquery.validate.min.js"></script>
<script src="https://kit.fontawesome.com/c704dbde0e.js" crossorigin="anonymous"></script>

<!--Js Menu Header-->
<script src="../public/js/home-js.js"></script>


</body>
</html>