<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Category</title>
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!--    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/bachcss.css">
    <link rel="stylesheet" href="../public/css/Blog.css">
    <link rel="stylesheet" href="../public/css/Detail.css">
    <link rel="stylesheet" href="../public/css/header-and-footer.css">

</head>


<body>
<!--Header Start-->
<div class="container-fluid ">
    <div class="row mb-2 top-header">
        <div class="col-lg">
            <ul class="header-client">
                <li><p class="fas fa-phone-alt">0964 866 701</p></li>
                <li><a class="fas fa-envelope" href="#"> hoangkien0601@gmail.com</a></li>
            </ul>
        </div>
        <div class="col-lg icon-buy">
            <a class="fas fa-shopping-cart" href="#"> Cart</a>
        </div>
    </div>
    <!--Logo and shipping-->
</div>

<header class="header">
    <a href="#" class="header__logo text-decoration-none">Led4life</a>

    <i class='fa fa-bars header__toggle' id="header-toggle"></i>

    <nav class="nav--menu" id="nav-menu">
        <div class="nav__content  bd-grid">
            <a href="" class="nav__perfil ">
                <div class="nav__img">
                    <img src="../public/img/home/logo.png" height="2000" width="2000"/>
                </div>
                <div>
                    <span class="nav__name ">led4life</span>
                </div>
            </a>
            <div class="nav__menu">
                <ul class="nav__list">
                    <li class="nav__item"><a href="#" class="nav__link">Home</a></li>

                    <li class="nav__item dropdown">
                        <a href="#" class="nav__link dropdown__link">Category<i
                                class='fa fa-chevron-down dropdown__icon'></i></a>
                        <ul class="dropdown__menu">
                            <li><a href="../view/products.html">Bulbs</a></li>
                            <li><a href="../view/products.html">Spot Lights</a></li>
                            <li><a href="../view/products.html">Decoration Lights</a></li>
                            <li><a href="../view/products.html">Smart Lights</a></li>

                        </ul>
                    </li>

                    <li class="nav__item"><a href="#" class="nav__link">Skills</a></li>

                    <li class="nav__item dropdown">
                        <a href="#" class="nav__link dropdown__link">Trademark
                            <i class='fa fa-chevron-down dropdown__icon'></i>
                        </a>
                        <ul class="dropdown__menu">
                            <li><a href="../view/products.html">Coca</a></li>
                            <li><a href="../view/products.html">Pesi</a></li>
                            <li><a href="../view/products.html">DC</a></li>
                            <li><a href="../view/products.html">Mavel</a></li>
                        </ul>
                    </li>
                    <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">Blog</a></li>
                    <li class="nav__item"><a href="#" class="nav__link">About</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<!--Hearder end-->

<!--navbar-menu-image-->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">TRADEMARK</h1>
    </div>
</section>

<!--MAIN START-->
<div class="container-fluid">
    <!--    <div class="header">-->
    <!--        <h4>BED LAMP LARGE</h4>-->
    <!--        <div class="star">-->
    <!--            <a href="#"> Home </a>-->
    <!--            <span>/</span>-->
    <!--            <a href="#"> Best Off </a>-->
    <!--            <span>/</span>-->
    <!--            <a href="#"> Bed Lamp Large </a>-->
    <!--        </div>-->
    <!--    </div>-->
    <div class="row">
        <div class="col-sm-12 col-xl-3">
            <div>
                <div class="header-title">
                    CATEGORY
                </div>
                <div class="line"></div>
                <ul class="list-product">
                    <li><span>Bulbs</span></li>
                    <li><span>Spot Lights</span></li>
                    <li><span>Decoration Lights</span></li>
                    <li><span>Smart Lights</span></li>
                </ul>
            </div>
            <div>
                <div class="header-title">Shop By Size</div>
                <div class="line"></div>
                <div class="left-menu-product product-size">
                    <ul>
                        <li>S</li>
                        <li>M</li>
                        <li>L</li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="header-title">Trademark</div>
                <div class="line"></div>
                <ul class="list-product">
                    <li><span>Coca</span></li>
                    <li><span>Pepsi</span></li>
                    <li><span>DC</span></li>
                    <li><span>Mavel</span></li>
                </ul>
            </div>
        </div>
        <div class="col-sm-12 col-xl-9">
            <div class="row">

                <div class="col-lg-10">
                    <div class="featured mr-4">
                        <!--                <div><label for="">Search</label></div>-->
                        <!--                <div>-->
                        <!--                    <input type="text" class="mr-5 h-30" id="search" placeholder="Type to search table...">-->
                        <!--                </div>-->
                        <div><label for="">Sort by</label></div>
                        <div class="sort-by">
                            <select class="h-30" id="id-name-sort" onclick="sort_item();">
                                <option value="">--Select--</option>
                                <option value="asc">a-z</option>
                                <option value="desc">z-a</option>
                                <option value="number-asc">price, low to hight</option>
                                <option value="number-desc">price, hight to low</option>
                            </select>
                        </div>
                    </div>
                    <div class="row p-5">
                        <div class="col-lg-4">
                            <div class="list-led">
                                <div class="img-h-242">
                                    <img class="card-img-top" src="../public/img/products-client/product-1.webp" alt="Card image cap">
                                </div>
                                <div class="">
                                    <div class="icon-product">
                                        <a href="detail/detail.html" class="fa fa-eye btn btn-shop"></a>
                                    </div>
                                    <div class="product-infor ">
                                        <a class="ba_cham" href="detail/detail.html">LED Strip Lights  Lights Lights Lights Lights Lights Lights </a>
                                    </div>
                                    <div class="product-infor ">
                                        <p>281.010 đ</p>
                                    </div>
                                    <div class="product-infor ">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="list-led">
                                <div class="img-h-242">
                                    <img class="card-img-top" src="https://images-na.ssl-images-amazon.com/images/I/816pf8kIc2L._AC_SL1500_.jpg" alt="Card image cap">
                                </div>
                                <div class="">
                                    <div class="icon-product">
                                        <a href="detail/detail.html" class="fa fa-eye btn btn-shop"></a>
                                    </div>
                                    <div class="product-infor ">
                                        <a class="ba_cham" href="detail/detail.html">LED Strip Lights  </a>
                                    </div>
                                    <div class="product-infor ">
                                        <p>281.010 đ</p>
                                    </div>
                                    <div class="product-infor ">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="list-led">
                                <div class="img-h-242">
                                    <img class="card-img-top" src="../public/img/products-client/product-1.webp" alt="Card image cap">
                                </div>
                                <div class="">
                                    <div class="icon-product">
                                        <a href="detail/detail.html" class="fa fa-eye btn btn-shop"></a>
                                    </div>
                                    <div class="product-infor ">
                                        <a class="ba_cham" href="detail/detail.html">LED Strip Lights  </a>
                                    </div>
                                    <div class="product-infor ">
                                        <p>281.010 đ</p>
                                    </div>
                                    <div class="product-infor ">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="list-led">
                                <div class="img-h-242">
                                    <img class="card-img-top" src="../public/img/products-client/product-1.webp" alt="Card image cap">
                                </div>
                                <div class="">
                                    <div class="icon-product">
                                        <a href="detail/detail.html" class="fa fa-eye btn btn-shop"></a>
                                    </div>
                                    <div class="product-infor ">
                                        <a class="ba_cham" href="detail/detail.html">LED Strip Lights  </a>
                                    </div>
                                    <div class="product-infor ">
                                        <p>281.010 đ</p>
                                    </div>
                                    <div class="product-infor ">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!--MAIN END-->


<!--Footer-->
<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col">
                <h4>company</h4>
                <ul>
                    <li><a href="#">about us</a></li>
                    <li><a href="#">our services</a></li>
                    <li><a href="#">privacy policy</a></li>
                    <li><a href="#">affiliate program</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>get help</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">shipping</a></li>
                    <li><a href="#">returns</a></li>
                    <li><a href="#">order status</a></li>
                    <li><a href="#">payment options</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>online shop</h4>
                <ul>
                    <li><a href="#">watch</a></li>
                    <li><a href="#">bag</a></li>
                    <li><a href="#">shoes</a></li>
                    <li><a href="#">dress</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-twitter"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--EndFooter-->

<script src="../public/js/jquery-3.6.0.js"></script>
<script src="../public/js/jquery.validate.min.js"></script>
<script src="../public/js/js-for-contact.js"></script>

</body>
</html>